.row{
  border:1px solid black;
}
.col{
  border:1px solid black;
}
.col1{
  border:2px solid black;
}

/* height:20%; */
/* width: 30%; */

.frm{
  /* display: inline-table; */
  /* direction: ltr; */
  justify-items: center;
}
.icon{
  width: 450px;
  display: flex;
  direction: row;
  justify-content: center;
  /* border:1px solid black; */
}
.chat{
  border:2px solid black;
}
/* .br{
  border:1px solid black;
} */
.mr-3{
  border:2px solid black;
  margin-top:10px;
  width: 900px;
}
.i{
  border:2px solid black;
  
}
.icon1{
  
  display: inline-flex;
  justify-content: space-between;
  padding: 22px;
  width: fit-content;
  margin-left: 60px;
  
}
.col3{
  border:2px solid black;
  max-width: 800px;
}
.button{
  border:1px solid red;
  border-radius: 20%;
  padding: 20%;
}
.icon3{
  display: inline-flex;
  padding: 5px;
}
.im{
  border: 2px solid black;
height:400%;
width: 400%;
  }
  .form{
    display:inline-flex;
    direction:row;
  }
